<div class="wrapper">
	<h1 id="header">BURBANK!</h1>
	<div class="left">
		<table *ngIf="info"><tbody>
			<tr>
				<td>Humidity: </td>
				<td>{{info.main.humidity}}</td>
			</tr>
			<tr>
				<td>Temperature (Avg): </td>
				<td>{{info.main.temp}}</td>
			</tr>
			<tr>
				<td>Temperature (High): </td>
				<td>{{info.main.temp_max}}</td>
			</tr>
			<tr>
				<td>Temperature (Low): </td>
				<td>{{info.main.temp_min}}</td>
			</tr>
			<tr>
				<td>Status: </td>
				<td>{{info['weather'][0]['description']}}</td>
			</tr>
		</tbody></table>
	</div>
	<div class="right">
		<img width="600" height="300" src="assets/img/burbank.jpg" alt="burbank">
	</div>
</div>